html
	head
		title= title
		link(rel="stylesheet", href="style.css")
	body
		div.card
			div.photo
			div.banner
			ul
				li
					strong Cristian Cortés
				li FrontEnd Design Leader
			a#main-button.contact(href="contacto.vcf") Guardar Contacto