extends ../src/templates/base

block title
	-var titulo = "Home";
	title Home

block content

	nav.menu-test
		ul
			li
				a(href="#") esto es un menu
			li
				a(href="") otro menu
			li
				a(href="") por si las dudas
			li
				a(href="") este también
			li
				a(href="") chao
	
	div.container-video
		div.play
			
		div#video



block Scripts
	script(src="js/360.init.js")